* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* .progress-bar {
    width: 350px;
    height: 10px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
  }
  
  .loading-text {
    width: max-content;
    height: max-content;
    font-size: 30px;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  } */
.progress-box {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
}
.progress-circle {
  stroke-dasharray: 189;
  stroke-dashoffset: 0;
}
/* @keyframes move {
    to {
      width: 100%;
    }
  } */
